@import 'fonts.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --raleway: 'raleway';
    --roboto: 'roboto';
    --white: #ffffff;
    --black: #0C0C0C;
    --black-72: rgba(12, 12, 12, 0.72);
    --black-44: rgba(12, 12, 12, 0.44);
    --gray-dark: #292929;
    --gray: #393636;
  
    --green: #69CF17;
    --green-75: rgba(105, 207, 23, 0.75);
    --green-50: rgba(105, 207, 23, 0.50);
    --green-90: rgba(105, 207, 23, 0.90);
    --green-dark: #1A3406;
  
    --navbar-bg: rgba(0, 0, 0, 0.5);
    --navbar-border: 1px solid rgba(125, 115, 115, 0.5);
    --logo-bg: rgba(10, 148, 24, 0.75);
    --logo-border: 4px solid #06600F;
    --btn-gradient: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    --footer-gradient: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
  }
  /* container */
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 40px;
    /* border: 1px solid red; */
}
/* wrapp */
.wrapp{
    width: 100%;
    min-height: 100vh;
    background: var(--black);
    position: relative;
}
/* menu-top */
.menu-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
  }
  .menu-top__location{
    display: flex;
    align-items: center;
    font-family: var(--roboto);
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
    line-height: 19px;
  }
  .menu-top__location img{
    margin-right: 5px;
  }
  .menu-top__list{
    display: flex;
    align-items: center;
  }
  .menu-top__list a{
    display: flex;
    padding: 0 10px;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
  }
  /* navbar */
  .navbar{
    width: 100%;
    background: var(--navbar-bg);
    border-top: var(--navbar-border);
    border-bottom: var(--navbar-border);
    position: sticky;
    top: -1px;
    backdrop-filter: blur(15px);
    z-index: 100;
}
.navbar__flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo,
.footer__logo{
  padding: 8px 14px;
  border-radius: 4px;
  background: var(--logo-bg);
  border: var(--logo-border);
  color: var(--white);
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 6px 0;
}
.navbar__list{
  display: flex;
}
.navbar__list a{
  padding: 22px 12px;
  display: flex;
  color: var(--white);
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.navbar__list a:hover{
  background: var(--green-75);
}
.navbar__btn{
  border-radius: 4px;
  background: var(--logo-bg);
  border: var(--logo-border);
  padding: 20px 10px;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}
.navbar__btn span{
  width: 40px;
  height: 4px;
  background: var(--white);
  position: relative;
}
.navbar__btn span::before,
.navbar__btn span::after{
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  background: var(--white);
  left: 0;
}
.navbar__btn span::before{
  top: 10px;
}
.navbar__btn span::after{
  bottom: 10px;
}
/* header */
.header{
  width: 100%;
  height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header::before{
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  background: var(--black-72);
}
.header__content{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__content h1{
  width: 100%;
  color: var(--green);
  font-family: var(--raleway);
  font-weight: 900;
  font-size: 72px;
  line-height: 85px;
  margin-bottom: 18px;
}
.header__content h5{
  width: 100%;
  color: var(--green);
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 36px;
  line-height: 28px;
  margin-bottom: 18px;
}
.header__content p{
  color: var(--white);
  width: 100%;
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
}
.header__content span{
  padding: 33px 76px;
  background: var(--green-50);
  backdrop-filter: blur(5px);
  color: var(--white);
  font-family: var(--raleway);
  font-weight: 100;
  font-size: 50px;
  line-height: 25px;
  margin-bottom: 20px;
}
.header__content a{
  padding: 15px 70px;
  background: var(--btn-gradient);
  color: var(--white);
  border-radius: 6px;
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
/* content */
.content{
  width: 100%;
}
.content__list{
  width: 100%;
  margin-top: 48px;
  background: var(--gray-dark);
  min-height: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.content__list a{
  padding: 20px 6px;
  margin: 0 4px 0 15px;
  color: var(--white);
  border-bottom: 2px solid transparent;
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.content__list a:hover{
  border-bottom-color: var(--white);
}
.content__items{
  width: 100%;
  min-height: 300px;
  background: var(--gray);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
/* item */
.item{
  width: 25%;
  min-height: 300px;
  /* border: 1px solid red; */
  padding: 15px;
}
.item__content{
  width: 100%;
  height: 100%;
  border: 1px solid var(--white);
  background: var(--black);
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.item-text__img{
  width: 100%;
  height: 100%;
  position: relative;
}
.item-text__img--pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-text__img a{
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--green-90);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opasity 0.3s;
}
.item-text__img--cart{
  width: 60px;
}
.item__content:hover .item-text__img a{
  opacity: 1;
}
.item__content h3{
  font-family: var(--raleway);
  font-weight: 700; 
  font-size: 19px;
  line-height: 15px;
  margin: 15px 0;
  color: var(--white);
}
.item__content p{
  font-family: var(--raleway);
  font-size: 19px;
  line-height: 25px;
  color: var(--white);
  margin-bottom: 25px;
}
/* filials */
.filials{
  width: 100%;
  background: var(--white);
}
.filials h2{
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: var(--green);
}
.filials__map{
  width: 100%;
  height: 100%;
  background: var(--gray);
}
.filials__map iframe{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
/* footer */
.footer{
  width: 100%;
  min-height: 100%;
  background: var(--footer-gradient);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 24px;
}
.footer__text{
  width: 100%;
  padding: 19px 0;
  background: var(--green-dark);
  /* border: 2px solid yellow; */
}
.footer__text p{
  font-family: var(--roboto);
  font-weight: 400;
  color: var(--white);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.footer__flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__phone{
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
  margin: 10px 0;
}
.footer__list{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 71px 0;
}
.footer__list a{
  padding: 10px;
  display: flex;
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
}
.content__about{
  margin: 30px auto;
}
.content__about--img{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.content__about--img h3{
  position: absolute;
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 55px;
  line-height: 65px;
  color: var(--green-75);
  text-transform: uppercase;
}
.content__about--img img{ 
  width: 100%;
  object-fit: cover;
}
.content__about--img::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--black-44);
}
.content__about p{
  color: var(--white);
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  margin-top: 30px;
}

/* media */
@media (max-width: 1200px) {
  .item{
    width: 33.33333%;
  }
}
@media (max-width: 992px) {
  .item{
    width: 50%;
  }
}
@media (max-width: 768px) {
  .navbar__list{
    display: none;
  }
  .navbar__btn{
    display: flex;
  }
  .header__content{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .header__content h1{
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 576px) {
  .header__content span{
    padding: 15px 35px;
    font-size: 30px;
  }
  .header__content a{
    padding: 15px 30px;
    margin-bottom: 30px;
  }
  .header__content h1{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 0;
  }
  .header__content p{
    line-height: 20px;
    margin-bottom: 10px;
  }
  .item{
    width: 100%;
  }
}
@media (max-width: 480px) {
  .menu-top__list{
    flex-direction: column;
    align-items: flex-end;
  }
  .content__list a{
    width: 50%;
    margin: 0;
    text-align: center;
  }
  .footer__flex{
    flex-direction: column;
  }
  .footer__list{
    padding: 20px 0;
  }
  .content__about--img img,
  .content__about--img::before{
    display: none;
  }
  .content__about--img h3{
    position: unset;
    color: var(--green);
  }
  .content__about p{
    font-weight: 400;
    line-height: 22px;
  }
  .header__content h1{
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {}